cos {
  background-color: #c0c0c0;
  font-family: Arial, sans-serif;
  text-align: center;}
titol {
  color: #000;
  font-size: 36px;
  text-align: left;
  margin-left: 15px;}
boto {
  background: #c0c0c0;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;}
boto:hover {
  background-color: #45a049;
  transform: scale(1.05);}
negreta {
  font-weight: bold;
  color: #222;}
enllac {
  color: #000;
  text-decoration: none;
  font-weight: bold;}
enllac:hover {
  text-decoration: underline;}
text-peu {
  text-align: right;
  font-size: 14px;
  color: #000;
  padding-right: 15px;}
